@model EmployeeViewModel

<div class="container mt-5">
    <span class="small text-danger mb-3">Are you sure you want to delete this address ?</span>
    <form asp-controller="Employee" asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Confirm Delete" class="btn btn-sm btn-outline-danger" /> |
        <a asp-action="Details" asp-route-id="@Model.ID" class="small">Cancel</a>
    </form>
</div>