.overflow-y{
    max-height: 65vh;
    overflow-y: scroll;
}

.overflow-y::-webkit-scrollbar {
  width: 0.5em;
}
 
.overflow-y::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}
 
.overflow-y::-webkit-scrollbar-thumb {
  background-color: rgb(224, 224, 224);
}

.border-secondary{
    border: 1px solid rgb(228, 228, 228) !important;
}