<span class="text-contact roboto fw-bold small">CONTACTS</span>
<div class="overflow-y ms-lg-3 mt-lg-3">
    <div class="nav flex-column nav-pills" id="v-pills-tab">
        <button class="nav-link text-left rounded-0 p-2 pt-1 border border-secondary w-100 active" id="v-pills-id" type="button" role="tab">
            <div>
                <span class="fs-5">Ravi Teja Lakkoju</span>
                <div class="lh-1 m-1 small">
                    <span class="small">ravi@technovert.net</span><br>
                    <span class="small">+91 9951282998</span>
                </div>
            </div>
        </button>
    </div>
</div>
