<div class="tabContent pt-5 pt-lg-0 position-relative">
    <div class="tab-pane fade show ms-lg-5 position-relative" id="v-pills-tab" role="tabpanel" aria-labelledby="v-pills-id-tab">
        <div class="options small position-absolute top-0 end-0">
            <button class="edit border-0 bg-transparent text-secondary edit-employee" value='${this.id}'><i class="fas fa-pen me-1"></i>EDIT</button>
            <button class="delete ms-md-2 border-0 bg-transparent text-secondary delete-employee" value='${this.id}'><i class="fas fa-trash-alt me-1"></i>DELETE</button>
        </div>
        <div id="v-pills-${this.id}-details">
            <span class="fs-4">
                Ravi Teja Lakkoju
            </span>
            <ul class="list-unstyled small text-dark">
                <li class="mt-2 mb-2">Email: ravi@technovert.net</li>
                <li class="mt-2 mb-2">
                    Mobile: +91 9951282998 <br>    
                    Landline: 040 02 3059
                </li>
                <li class="mt-2 mb-2">Website: www.technovert.net</li>
                <li class="mt-2 mb-2">
                Address: <span class="roboto" style="font-size: 0.85rem; white-space: pre-wrap;">123 Lane6, Viman Nagar, Hyderabad</span>
                </li>
            </ul>
        </div>
    </div>
</div>
