// Variables

$headerbg: rgb(22, 149, 199);
$navbg: rgb(53, 53, 53);
$activenav: rgb(223, 100, 0);

// General

html, body, ul{
    margin: 0 !important;
    margin-bottom: 5rem !important;
    padding: 0 !important;
    font-size: 17.5px;
}


.open-sans{
    font-family: 'Open Sans', sans-serif;
}

.century-gothic{
    font-family: 'Century Gothic';
    src: url('./fonts/Century Gothic.eot');
    src: url('./fonts/Century Gothic.eot?#iefix') format('embedded-opentype'),
        url('./fonts/Century Gothic.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

.roboto{
    font-family: 'Roboto', sans-serif;
}

// Header Section

header{
    &.bg-header{
        background-color: $headerbg;
    }
}

// Navbar section

.navigation{    
    a, button{
        color: white !important;
        padding: 0.6rem 1rem !important;
        font-weight: 500;
        text-decoration: none;
        background-color: transparent;
        margin-right: 0.25rem !important;
        border: 0;
        &:hover{
            background-color: $activenav !important;
            border-left: 5px solid white;
            color: black;
        }
    }
    .active{
        background-color: $activenav !important;
        color: black;
    }
}

// Home Section

.home{
    ul{
        line-height: 1.5rem;
    }
}

.active.nav-link{
    background-color: rgba(68, 186, 255, 0.301) !important;
    color: black !important;
}

.text-contact{
    letter-spacing: 1px;
}

button.nav-link{
    text-align: left !important;
}

.address{
    word-wrap: break-word;
    white-space: pre-line;
}

#employee-form-div{
    position: absolute;
    z-index: 1;
    margin-top: -2rem;
    margin-bottom: 2rem;
    box-shadow: 0 0 10px black;
}
 
*:focus{
    outline: none !important;
}



#close-form:hover{
    cursor: pointer;
}
