@model IEnumerable<AddressBook.Models.Employee>

<div class="ml-3 mt-3">
    <h6>CONTACTS</h6>

    <div class="overflow-y">
        <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
            @foreach (var employee in Model)
            {
                <div class="position-relative">
                    <a class="nav-link text-left text-black rounded-0 p-2 pt-1 border border-secondary details" asp-action="Details" asp-route-id="@employee.ID">
                        <span class="fs-5 d-block text-black">@Html.DisplayFor(modelItem => employee.Name)</span>
                        <span class="m-1 small d-block">
                            <span class="small d-block text-black"> @Html.DisplayFor(modelItem => employee.Email) </span>
                            <span class="small d-block text-black">+91 @Html.DisplayFor(modelItem => employee.MobileNumber) </span>
                        </span>
                    </a>
                </div>
            }
        </div>
    </div>
</div>       
